[submodule "zsh/antigen"]
  path = zsh/antigen
  url = https://github.com/zsh-users/antigen
[submodule "sublime/fengshui-theme"]
  path = sublime/fengshui-theme
  url = https://github.com/green-arrow/fengshui-theme/
[submodule "node/nvm"]
  path = node/nvm
  url = https://github.com/creationix/nvm/
  ignore = dirty
